:host {
  width: 100%;
  background-color: var(--color-gray-light-40);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.payment {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex:1;
  padding: 120px 0px 0px 100px;

  &__detail {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    max-width: 445px;
    font-size: 38px;

    &__account {
      color: var(--color-blue-light-10);
    }

    > p {
      line-height: 1.5;
      font-size: var(--text-lg);
      color: var(--color-gray-dark-10);
    }
  }

  &__image {
    width: 60%;
    display: flex;
    justify-content: flex-end;

    > img {
      max-width: 100%
    }
  }
}
