.container {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-gray-light-40);
  border-bottom: 1px solid #8080802b;
  padding: 50px 0 50px 5%;

  &__detail {
    display: flex;
    flex-direction: column;
    font-size: 38px;

    &__account {
      color: var(--color-blue-light-10);
    }

    > p {
      line-height: 1.5;
      font-size: var(--text-lg);
      color: var(--color-gray-dark-10);
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;

    > img {
      max-width: 100%
    }
  }
}

@media only screen and (max-width: 800px) {
  .container{
    flex-direction: column;

    > div {
      width: 100%;
    }
  }
}
