<section class="container">
  <div class="container__card">
    <span>{{'stores.downloadIOS' | translate}}</span>
    <a href="https://apps.apple.com/us/app/jeton-wallet-global-payments/id1190240579">
      <img src="assets/images/itunes-button.png">
    </a>
  </div>
  <div class="container__card">
    <span>{{'stores.downloadAndroid' | translate}}</span>
    <a href="https://play.google.com/store/apps/details?id=com.jeton.wallet">
      <img src="assets/images/googleplay-button.png">
    </a>
  </div>
</section>
