<footer class="footer">
  <div class="footer__options">
    <div class="footer__options__actions">
      <div class="footer__options__actions__menu">
        <ul>
          <li><span>{{'phone' | translate}}: <a href="tel:+5541995368623">+55 41 99536-8623</a></span></li>
          <li><span>{{'mail' | translate}}: <a href="mailto:jerfersongriza@gmail.com">jerfersongriza@gmail.com</a></span></li>
        </ul>
      </div>
    </div>

    <div class="footer__options__button">
      <button (click)="openLogin()">{{'contact' | translate}}</button>
    </div>
  </div>
  <div class="footer__copyright">
    <span>{{'footer.autor' | translate}}</span>
  </div>
</footer>
