<div class="footer">
  <div class="footer__options">
    <div class="footer__options__menu">
      <span>About Us</span>
      <span>Support</span>
      <span>Terms and conditions</span>
      <span>Contact Us</span>
      <span>Faq</span>
      <span>Privacy Policy</span>
      <span>Aml Policy</span>
    </div>

    <div class="footer__options__buttons">
      <button>JetonCARD</button>
      <button>JetonPAY</button>
    </div>

    <div class="footer__options__copyright">
      <span>© 2019 Urus London LTD | 131 Finsbury Pavement, London EC2A 1NT United Kingdon</span>
    </div>
  </div>
  <button>SIGN IN</button>
</div>
