.footer {
  padding: 25px 5% 25px 5%;
  border-top: 1px solid #8080801a;
  display: flex;
  flex-direction: column;

  &__options {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    &__actions {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      align-content: flex-start;

      &__menu {
        > ul {
          display: flex;
          flex-wrap: wrap;

          > li {
            display: flex;
            > a:hover {
              color: var(--color-orange-base);
            }

            > a {
              font-size: var(--text-md);
              color: var(--color-gray-dark-10);
              display: block;
              padding: 10px;
              cursor: pointer;
            }
          }
        }
      }

      &__buttons {
        margin-top: 10px;

        > button:hover {
          color: var(--color-gray-dark-10);
          border: 1px solid var(--color-gray-dark-10);
        }

        > button {
          border-radius: 20px;
          border: 1px solid var(--color-gray-light-30);
          color: var(--color-gray-base);
          background: var(--color-baseline-white);
          padding: 4px 12px;
          margin-right: 12px;
          cursor: pointer;
        }
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;

      > button:hover {
        background: var(--color-blue-base);
      }

      > button {
        background: var(--color-blue-light-10);
        border: none;
        font-size: var(--text-md);
        font-weight: 500;
        letter-spacing: -.1px;
        padding: 14px 32px;
        border-radius: 4px;
        color: var(--color-baseline-white);
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }

  &__copyright{
    font-size: var(--text-xs);
    color: var(--color-gray-base);;
  }
}


@media only screen and (max-width: 800px) {
  .footer{
    &__options {
      flex-direction: column-reverse;

      &__actions {
        padding: 25px 0px;

        &__menu {
          > ul {
            flex-direction: column;
          }
        }
      }
    }
  }
}
