<div class="footer">
  <div class="footer__options">
    <div class="footer__options__menu">
      <span>{{'aboutUs' | translate}}</span>
      <span>{{'support' | translate}}</span>
      <span>{{'termsCondition' | translate}}</span>
      <span>{{'contactUs' | translate}}</span>
      <span>{{'faq' | translate}}</span>
      <span>{{'privacyPolicy' | translate}}</span>
      <span>{{'amlPolicy' | translate}}</span>
    </div>

    <div class="footer__options__buttons">
      <button>JetonCARD</button>
      <button>JetonPAY</button>
    </div>

    <div class="footer__options__copyright">
      <span>© 2019 Urus London LTD | 131 Finsbury Pavement, London EC2A 1NT United Kingdon</span>
    </div>
  </div>
  <button>{{'signIn' | translate}}</button>
</div>
