.container {
  display: flex;
  border-bottom: 1px solid #8080802b;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5% 50px 5%;

  &__advantages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > span {
      font-size: 32px;
      margin-bottom: 50px;
      color: var(--color-gray-dark-40);
    }
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      &__detail {
        margin-left: 50px;

        > span {
          font-size: var(--text-xl);
          color: var(--color-blue-light-10);
        }
        > p {
          margin: 5px;
          color: var(--color-gray-dark-10);
        }
      }
    }
  }

  &__business {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 400px;
      padding: 30px 50px;
      box-shadow: 0 4px 11px 0 rgb(0 0 0 / 14%);
      border: 1px solid #8080802b;

      > span {
        margin-bottom: 20px;
        font-size: var(--text-xl);
        color: var(--color-gray-dark-40);
      }

      > p {
        line-height: 1.5;
        font-size: var(--text-md);
        color: var(--color-gray-dark-10);
        text-align: center;
      }

      > button:hover {
        background: var(--color-blue-base);
      }

      > button {
        background: var(--color-blue-light-10);
        border: none;
        font-size: var(--text-md);
        font-weight: 500;
        letter-spacing: -.1px;
        padding: 14px 50px;
        border-radius: 4px;
        color: var(--color-baseline-white);
        text-transform: uppercase;
        cursor: pointer;
        margin: 10px 0px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .container{
    flex-direction: column;

    &__advantages {
      margin-left: 20px;
      &__item {
        &__detail {
        margin-left: 20px;
        }
      }
    }
  }
}
