<section class="container">
  <div class="container__advantages">
    <span>{{'account.advantagesTitle' | translate}}</span>
    <div class="container__advantages__item">
      <img src="assets/images/swine.png" alt="32">
      <div class="container__advantages__item__detail">
        <span>{{'account.jetonFast' | translate}}</span>
        <p>{{'account.jetonFastDetail' | translate}}</p>
      </div>
    </div>

    <div class="container__advantages__item">
      <img src="assets/images/syringe.png" alt="32">
      <div class="container__advantages__item__detail">
        <span>{{'account.jetonEasy' | translate}}</span>
        <p>{{'account.jetonEasyDetail' | translate}}</p>
      </div>
    </div>

    <div class="container__advantages__item">
      <img src="assets/images/piglet.png" alt="32">
      <div class="container__advantages__item__detail">
        <span>{{'account.jetonFree' | translate}}</span>
        <p>{{'account.jetonFreeDetail' | translate}}</p>
      </div>
    </div>
  </div>

  <div class="container__business">
    <div class="container__business__card">
      <span>{{'account.businessAccount' | translate}}</span>
      <img src="assets/images/shed.png" alt="32">
      <p>{{'account.businessAccountDetail' | translate}}</p>
      <button (click)="openLogin()">{{'account.useForBusiness' | translate}}</button>
    </div>
  </div>
</section>
