<section class="account">
  <div class="account__advantages">
    <span>{{'account.advantagesTitle' | translate}}</span>
    <div class="account__advantages__item">
      <svg-icon src="assets/icons/icon-fast.svg"></svg-icon>
      <div class="account__advantages__item__detail">
        <span>{{'account.jetonFast' | translate}}</span>
        <p>{{'account.jetonFastDetail' | translate}}</p>
      </div>
    </div>

    <div class="account__advantages__item">
      <svg-icon src="assets/icons/icon-easy.svg"></svg-icon>
      <div class="account__advantages__item__detail">
        <span>{{'account.jetonEasy' | translate}}</span>
        <p>{{'account.jetonEasyDetail' | translate}}</p>
      </div>
    </div>

    <div class="account__advantages__item">
      <svg-icon src="assets/icons/icon-use.svg"></svg-icon>
      <div class="account__advantages__item__detail">
        <span>{{'account.jetonFree' | translate}}</span>
        <p>{{'account.jetonFreeDetail' | translate}}</p>
      </div>
    </div>
  </div>

  <div class="account__business">
    <div class="account__business__card">
      <span>{{'account.businessAccount' | translate}}</span>
      <svg-icon src="assets/icons/icon-bank.svg"></svg-icon>
      <p>{{'account.businessAccountDetail' | translate}}</p>
      <button>{{'account.useForBusiness' | translate}}</button>
    </div>
  </div>
</section>
