<div class="navbar">
  <div class="navbar__logo">
    <img src="assets/images/logo.svg">
  </div>
  <div class="navbar__menu">
    <span
      class="navbar__menu__item"
      routerLinkActive="navbar__menu__item--active"
      routerLink="/"
      [routerLinkActiveOptions]="{exact: true}">
      {{'business' | translate}}
    </span>
    <span
      class="navbar__menu__item"
      routerLinkActive="navbar__menu__item--active"
      routerLink="/card">
      {{'card' | translate}}
    </span>
    <div class="navbar__menu__language" (click)="openLenguageOptions()">
      <span>
          {{ curretLanguage }}
      </span>
      <div #selectedLang>
        <span *ngFor="let language of translate.getLangs()" (click)="switchLang(language)"> {{ language }}</span>
      </div>
    </div>
  </div>
</div>
