<div class="navbar">
  <div class="navbar__logo">
    <img src="assets/images/logo.svg">
  </div>
  <div class="navbar__menu">
    <span
      class="navbar__menu__item"
      routerLinkActive="navbar__menu__item--active"
      routerLink="/"
      [routerLinkActiveOptions]="{exact: true}">
      {{'business' | translate}}
    </span>
    <span
      class="navbar__menu__item"
      routerLinkActive="navbar__menu__item--active"
      routerLink="/card">
      {{'card' | translate}}
    </span>
    <div
      class="navbar__menu__language"
      (mouseover)="openLenguageOptions(true)"
      (mouseout)="openLenguageOptions(false)">
      <span>
        <svg-icon src="assets/icons/language-icon.svg"></svg-icon>
        {{ curretLanguage }}
        <svg-icon src="assets/icons/angle-down-icon.svg"></svg-icon>
      </span>
      <div #selectedLang>
        <span *ngFor="let language of translate.getLangs()"
          (click)="switchLang(language)"
          (click)="openLenguageOptions(false)">
          {{ language }}
        </span>
      </div>
    </div>
  </div>
</div>
