.navbar {
  padding: 0px 5%;
  display: flex;

  &__menu {
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 100%;

    &__logo {
      margin: 0 10px;

      &__close {
        color: var(--color-gray-dark-10);
        display: none;
      }
    }

    &--active {
      color: var(--color-orange-base) !important;
    }

    &__buttons {
      display: none;
    }

    > nav ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      > li a:hover {
        color: var(--color-orange-base);
      }

      > li a {
        font-size: var(--text-md);
        color: var(--color-gray-dark-10);
        display: block;
        padding: 10px;
      }
    }

     &__language {
       cursor: pointer;

        > a {
          display: flex !important;
          align-items: center;

          > span {
            margin: 5px;
          }
        }

       &__options {
        color: var(--color-gray-dark-10);
        box-shadow: 0 5px 14px 0 rgb(0 0 0 / 14%);
        display: none;
        position: absolute;
        z-index: 1;
        margin: 60px 4px;
        top: 0;
        background-color: var(--color-baseline-white);
        flex-direction: column;
        align-items: center;

        > ul {
          display: flex;
          justify-content: space-around;
          flex-direction: column;

          > li {
            min-width: 100px;
            flex: 1;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;

            > a {
              flex-direction: column;
              align-items: center;
              display: flex !important;
              width: 100%;
            }
          }

          > li:hover {
            background-color: var(--color-gray-light-40);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .navbar--active{
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    z-index: 1;

  }

  .navbar {
    &__menu {
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;
      width: 100%;

      &__logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__close {
          display: block;
        }
      }

      > nav {
        display: flex;
        flex-direction: column;
        height: -webkit-fill-available;
        width: 100%;
        margin-top: 50px;

        > ul {
          flex-direction: column;
          width: 100%;
          height: -webkit-fill-available;

          > li {
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
      }

      &__language {
        &__options{
          margin-top: 250px;
        }
      }

      &__sign {
        display: none !important;
      }

      &__buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;


        > button {
          margin-top: 10px;
          font-size: var(--text-md);
          font-weight: 500;
          letter-spacing: -.1px;
          padding: 14px 32px;
          border-radius: 4px;
          text-transform: uppercase;
          white-space: nowrap;
          cursor: pointer;
          width: 100%;
        }

        &__sign-in {
          background: var(--color-baseline-white);
          color: var(--color-blue-light-10);
          border: 1px solid var(--color-blue-light-10);
        }

        &__sign-up {
          background: var(--color-blue-light-10);
          color: var(--color-baseline-white);
          border: none;
        }
      }
    }
  }
}
