<header class="navbar">
  <div class="navbar__menu">
    <div class="navbar__menu__logo">
      <a href="/">
        <img src="assets/images/logo.svg">
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLinkActive="navbar__menu--active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
          {{'business' | translate}}
          </a>
        </li>
        <li>
          <a routerLinkActive="navbar__menu--active" routerLink="/card">
          {{'card' | translate}}
          </a>
        </li>
        <li>
          <a>{{'security' | translate}}</a>
        </li>
        <li>
          <a (click)="openLogin()">{{'signUp' | translate}}</a>
        </li>
        <li>
          <a (click)="openLogin()">{{'signIn' | translate}}</a>
        </li>
        <li class="navbar__menu__language"
          (mouseover)="openLenguageOptions(true)"
          (mouseout)="openLenguageOptions(false)">
          <a>
            <svg-icon src="assets/icons/language-icon.svg"></svg-icon>
            <span>{{ curretLanguage }}</span>
            <svg-icon src="assets/icons/angle-down-icon.svg"></svg-icon>
          </a>
          <div #selectedLang class="navbar__menu__language__options">
            <ul>
              <li *ngFor="let language of translate.getLangs()">
                <a  (click)="switchLang(language)"
                (click)="openLenguageOptions(false)">
                  {{ language }}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
