<div #modal class="container">
  <div class="modal">
    <div class="modal__header">
      <div class="modal__header__title">
        <span>{{'contact' | translate}}</span>
      </div>

      <div class="modal__header__close">
        <span (click)="close()">
          <svg-icon src="assets/icons/times-circle-icon.svg"></svg-icon>
        </span>
      </div>
    </div>

    <div class="modal__body">
      <p>{{'yoursData' | translate}}</p>
      <div class="modal__body__form">
        <form
          novalidate autocomplete="off"
          [formGroup]="formContact"
          (keyup.enter)="send()">
          <div class="modal__body__form__input">
            <input formControlName="name" type="text" placeholder="{{'name' | translate}}">
          </div>
          <div class="modal__body__form__input">
            <input formControlName="email" type="email" placeholder="{{'userIdEmail' | translate}}">
          </div>
          <div class="modal__body__form__input">
            <input formControlName="phone" type="phone" placeholder="{{'phoneNumber' | translate}}">
          </div>
          <div class="modal__body__form__input">
            <textarea formControlName="comments" type="text" placeholder="{{'comments' | translate}}"></textarea>
          </div>
        </form>
      </div>
      <div class="modal__body__buttons">
        <button [disabled]="!formContact.valid" (click)="send()" class="modal__body__buttons__login" >{{'send' | translate}}</button>
      </div>
      <span>{{'phone' | translate}}: <a href="tel:+5541995368623">+55 41 99536-8623</a></span>
      <span>{{'mail' | translate}}: <a href="mailto:jerfersongriza@gmail.com">jerfersongriza@gmail.com</a></span>
    </div>
  </div>
</div>
