<div #modal class="container">
  <div class="modal">
    <div class="modal__header">
      <div class="modal__header__title">
        <span>{{'login' | translate}}</span>
      </div>

      <div class="modal__header__close">
        <span (click)="close()">
          <svg-icon src="assets/icons/times-circle-icon.svg"></svg-icon>
        </span>
      </div>
    </div>

    <div class="modal__body">
      <div class="modal__body__tab">
        <span [ngClass]="{'modal__body__tab--active': !userIdEmail}" (click)="userIdEmail=false">{{'phoneNumber' | translate}}</span>
        <span [ngClass]="{'modal__body__tab--active': userIdEmail}" (click)="userIdEmail=true">{{'userIdEmail' | translate}}</span>
      </div>
      <div class="modal__body__form">
        <form novalidate autocomplete="off">
          <div class="modal__body__form__input" *ngIf="userIdEmail">
            <input type="text" placeholder="{{'userIdEmail' | translate}}">
            <span (click)="forgot('user')">{{'forgot' | translate}}</span>
          </div>
          <div class="modal__body__form__input" *ngIf="!userIdEmail">
            <input type="text" placeholder="{{'phoneNumber' | translate}}">
            <span (click)="forgot('phone')">{{'forgot' | translate}}</span>
          </div>
          <div class="modal__body__form__input">
            <input type="password" placeholder="{{'password' | translate}}">
            <span (click)="forgot('password')">{{'forgot' | translate}}</span>
          </div>
        </form>
      </div>
      <div class="modal__body__buttons">
        <button class="modal__body__buttons__login">{{'login' | translate}}</button>
        <button class="modal__body__buttons__qr-code"><svg-icon src="assets/icons/icon-qr-code.svg"></svg-icon>{{'loginQRCode' | translate}}</button>
      </div>
      <span>{{'newJeton' | translate}} <a>{{'signUpHere' | translate}}</a></span>
    </div>
  </div>
</div>
