@font-face {
  font-family: "Georama";
  font-weight: 100;
  src: url("/assets/fonts/Georama-Thin.ttf");
}

@font-face {
  font-family: "Georama";
  font-style: italic;
  font-weight: 100;
  src: url("/assets/fonts/Georama-ThinItalic.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 200;
  src: url("/assets/fonts/Georama-ExtraLight.ttf");
}

@font-face {
  font-family: "Georama";
  font-style: italic;
  font-weight: 200;
  src: url("/assets/fonts/Georama-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 300;
  src: url("/assets/fonts/Georama-Light.ttf");
}

@font-face {
  font-family: "Georama";
  font-style: italic;
  font-weight: 300;
  src: url("/assets/fonts/Georama-LightItalic.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 400;
  src: url("/assets/fonts/Georama-Regular.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/Georama-Italic.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 500;
  src: url("/assets/fonts/Georama-Medium.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/Georama-MediumItalic.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 600;
  src: url("/assets/fonts/Georama-SemiBold.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/Georama-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 700;
  src: url("/assets/fonts/Georama-Bold.ttf");
}

@font-face {
  font-family: "Georama";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/Georama-BoldItalic.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 800;
  src: url("/assets/fonts/Georama-ExtraBold.ttf");
}

@font-face {
  font-family: "Georama";
  font-style: italic;
  font-weight: 800;
  src: url("/assets/fonts/Georama-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Georama";
  font-weight: 900;
  src: url("/assets/fonts/Georama-Black.ttf");
}

@font-face {
  font-family: "Georama";
  font-style: italic;
  font-weight: 900;
  src: url("/assets/fonts/Georama-BlackItalic.ttf");
}
