:root {
  // Fonte Family
  --font-family-primary: "Georama", sans-serif;

  // Text size
  --text-xl: 24px;
  --text-lg: 20px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-xs: 12px;

  --color-baseline-white: #FFFFFF;

  --color-gray-base: #ADB5BD;
  --color-gray-dark-40:  #212529;
  --color-gray-dark-10: #868E96;
  --color-gray-light-10: #A49FAB;
  --color-gray-light-20: #BFBCC5;
  --color-gray-light-30: #DBD9DE;
  --color-gray-light-40: #F6F5F7;


  --color-orange-base: #fd7e14;

  --color-blue-base: #007bff;
  --color-blue-light-10: #4a84ef;
}
