:root {
  // Fonte Family
  --font-family-primary: "Georama", sans-serif;

  // Text size
  --text-xl: 24px;
  --text-lg: 20px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-xs: 12px;

  --color-gray-base: #ADB5BD;
  --color-gray-dark-10: #868E96;
  --color-gray-light-30: #ececec;

  --color-orange-base: #fd7e14;
}
