@import 'variables';
@import "fonts";

body, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  font-family: var(--font-family-primary);
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
