<section class="container">
  <div class="container__resume">
    <span [innerHTML]="'resume.title' | translate"></span>
    <br/>
    <p>{{'resume.first' | translate}}</p>
    <p>{{'resume.second' | translate}}</p>
    <br/>
    <p>{{'resume.who' | translate}}</p>
    <button (click)="openLogin()">{{'knowMore' | translate}}</button>
  </div>
  <div class="container__image">
    <div class="container__image__screen">
      <img src="assets/images/app-screen1.png">
    </div>

    <div class="container__image__phone">
      <img src="assets/images/phone-bg.png">
    </div>
  </div>
</section>
